<div class="text-center">
  <h4>Edit the <strong><%= @job.title %></strong></h4>
</div>

<%= render 'form' %>

<%= link_to 'Show', @job , :class => "btn btn-success" %>
<%= link_to 'Back', jobs_path , :class => "btn btn-default"%>
