<%= render "partials/notice_alert" %>


<%= render "partials/job_list_table" %>
<div class="col-md-offset-3">
  <%= paginate @jobs , :theme=> 'twitter-bootstrap-3' , :pagination_class => 'pagination-sm' %>
</div>


<!-- <%= link_to 'New Job', new_job_path %> -->
