<div class="container">
  <div class="row">
    <div class="col-md-8">
      <table class="table table-bordered table-condensed">
        <tr>
          <th>Title</th>
          <th>Postion</th>
          <th>Company Name</th>
          <th>Location</th>
          <th>View</th>
        </tr>
        <tr>
          <% @jobs.each do |job| %>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td>
            <%= link_to 'Show', job , class:"btn btn-info"%>
            <% if(admin_signed_in?) %>
              <%= link_to 'Edit', edit_job_path(job) %>
              <%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </td>
          <% end %>
        </tr>
      </table>
    </div>
  </div>
</div>
